<%= form_for(@item) do |f| %>
	<section>
		<% if @item.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

		    <ul>
		    <% @item.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
		
		<ul id="edit-item-nav" class="nav nav-tabs">
			<li class="active"><a href="#basics" data-toggle="tab">Basics</a></li>
			<li><a href="#fields" data-toggle="tab">Details</a></li>
			<li><a href="#highlights" data-toggle="tab">One more things</a></li>
			<li class="action"></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="basics">
		    <%= render :partial => 'general_form', :locals => {:f => f} %>
		  </div>
		  <div class="tab-pane" id="fields">
		    <%= render :partial => 'fields_form', :locals => {:f => f} %>
		  </div>
		  <div class="tab-pane" id="highlights">
		    <%= render :partial => 'highlights', :locals => {:f => f} %>
		  </div>
		</div>
	</section>
	<div id="sidebar">
		<%= link_to 'Cancel', items_path,  :class => 'btn btn-alert' %>
		<%= f.submit :class => 'btn btn-primary' %>
	</div>
<% end %>