<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
	<div class="input">
    	<%= f.text_field :title %>
	</div>
  </div>
  <div class="field">
    <%= f.label :description %>
	<div class="input">
    	<%= f.text_area :description %>
	</div>
  </div>
  
  <%= render :partial => 'highlights', :locals => {:f => f} %>

  <% FieldGroup.all.each do |field_group| %>
  	<% field_group.fields.all.each do |field| %>
  	  <div class="field">
  	  	<%= label_tag :field_ids, field.label %>
  	  	<div class="input">
  	  		<%= check_box_tag :field_ids, field.id, @item.fields.include?(field), :name => 'item[field_ids][]' -%>
  	  	</div>
  	  </div>
  	<% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>