<div id="interactive" >
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=15&sensor=false&size=640x450&markers=<%=u item.address %>">
</div>
<div id="static1">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=5&sensor=false&size=399x230&markers=<%=u item.address %>">
</div>
<div id="static2">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=8&sensor=false&size=399x230&markers=<%=u item.address %>">
</div>
<div id="address">
	<p><%= item.address %></p>
</div>