<header class="edit">
	<h1>Images</h1>
</header>
<table id="images">

<% @item.images.each do |image| %>
  <tr>
	<td class="thumb"><%= image_tag image.file_url(:thumb) if image.file? %></td>
	<td class="desc">
		<%= image.name %><br>
		<%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-small' %>
		<%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path(:item_id => @item) %>